<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">
    <!-- Import CSS -->
    <link rel="stylesheet" href="../css/styles.css">
    <title>TechInnovate</title>
    <link rel="icon" href="../img/logos.png">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img class="icono" src="../img/logos.png" alt="Logo"/>
            <h1>TechInnovate</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos.html">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>    

    <div class="container-fluid p-0">
        <div class="position-relative text-center mb-5">
            <img src="../img/nosotros.jpg" alt="Sobre Nosotros" class="img-fluid w-100" style="max-height: 600px; object-fit: cover; border: none;">
        </div>
        <div class="container mt-5">
            <h1 class="text-center">Conoce a TechInnovate</h1>
            <p class="text-center">Aquí podrás leer mejor sobre el contenido de nuestros productos y más detalles.</p>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-justify">
                        TechInnovate nació en el corazón de la revolución tecnológica, con la misión de ofrecer soluciones innovadoras para el día a día de las personas y empresas. A lo largo de los años, hemos crecido y evolucionado, desarrollando una amplia gama de productos que responden a las necesidades de un mundo digital en constante cambio.
                    </p>
                    <p class="text-justify">
                        Desde nuestros humildes comienzos, hemos trabajado incansablemente para construir una marca que combine calidad, servicio excepcional y tecnología de punta. Hoy en día, TechInnovate es un referente en el mercado tecnológico, con una sólida base de clientes que confían en nosotros para proporcionarles las mejores soluciones para sus proyectos y necesidades.
                    </p>
                    <p class="text-justify">
                        Nuestra pasión por la tecnología y la innovación nos impulsa a seguir avanzando, ofreciendo productos que no solo facilitan la vida de las personas, sino que también ayudan a transformar empresas y mejorar su eficiencia.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-muted py-5 bg-dark mt-5">
        <div class="container">
            <p class="mb-1 text-center text-white">&copy; 2024 TechInnovate. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- jQuery y Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    
</body>
</html>
